//main: ../style.less
.feedback {
  width: 100%;
  height: 900px;
  background-color: @red-l;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
}
.feedback__slider {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 500px;
}
.feedback__btn__left {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: -2%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#14bcdd),
    to(#4cffff)
  );
  background: linear-gradient(to right, #14bcdd, #4cffff);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: background 0.1s linear, -webkit-box-shadow 0.1s linear;
  -webkit-transition: background 0.1s linear, box-shadow 0.1s linear;
  transition: background 0.1s linear, box-shadow 0.1s linear;
  i {
    color: @white;
    font-size: 1.5rem;
  }
  &:hover {
    cursor: pointer;
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(#14bcdd),
      to(#4cffff)
    );
    background: linear-gradient(to left, #14bcdd, #4cffff);
    box-shadow: 0px 0px 30px #4cffff;
    &:active {
      background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#14bcdd),
        to(#4cffff)
      );
      background: linear-gradient(to top, #14bcdd, #4cffff);
    }
  }
}
.feedback__btn__right {
  position: absolute;
  z-index: 4;
  top: 50%;
  right: -2%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#14bcdd),
    to(#4cffff)
  );
  background: linear-gradient(to right, #14bcdd, #4cffff);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: background 0.1s linear, -webkit-box-shadow 0.1s linear;
  -webkit-transition: background 0.1s linear, box-shadow 0.1s linear;
  transition: background 0.1s linear, box-shadow 0.1s linear;
  i {
    color: @white;
    font-size: 1.5rem;
  }
  &:hover {
    cursor: pointer;
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(#14bcdd),
      to(#4cffff)
    );
    background: linear-gradient(to left, #14bcdd, #4cffff);
    box-shadow: 0px 0px 30px #4cffff;
    &:active {
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#14bcdd),
        to(#4cffff)
      );
      background: linear-gradient(to bottom, #14bcdd, #4cffff);
    }
  }
}
.feedback__slider__content {
  width: 100%;
}
.slider__content {
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 500px;
  width: 100%;
  overflow: hidden;
}
.colum__photo__feedback {
  flex-basis: 30%;
  position: relative;
  z-index: 3;
  @media @tablet {
    display: none;
  }
}
.line__after__photo {
  position: absolute;
  top: 48%;
  right: -8%;
  z-index: -1;
  i {
    font-size: 2rem;
    color: @red;
  }
  @media @tablet {
    display: none;
  }
}
.collum__text__feedback {
  flex-basis: 68%;
  background-color: @white;
  z-index: 3;
  border: 3px solid rgba(@red, 0.15);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: space-around;
  justify-content: space-around;
  @media @tablet {
    flex-basis: 100%;
  }
}
.top__text {
  height: 1rem;
  p {
    color: @red;
    font-size: 15rem;
    line-height: 0.7;
  }
}
.center__text {
  padding: 0 4rem;
  p {
    font-size: 1rem;
    font-family: @releway;
    color: @gray-l;
    line-height: 2;
    @media @mobile-sm {
      font-size: 0.8rem;
    }
  }
  @media @mobile-sm {
    padding: 0 0.5rem;
  }
}
.text__rating {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  p {
    font-weight: 700;
    font-size: 1.1rem;
    font-family: @releway;
    color: @gray;
    line-height: 1.563;
    margin-right: 0.5rem;
  }
  span {
    letter-spacing: 3px;
    font-weight: 700;
    font-family: @releway;
  }
}
.bottom__text {
  p {
    font-size: 2rem;
    font-family: @sacramento;
    color: @gray;
    line-height: 0.893;
  }
}
