//main: ../style.less
.open__shedule {
  background: url(../img/shedule/shedule_bg.png) no-repeat center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 885px;
  position: relative;
  z-index: 1;
}
.shedule__overlay {
  background-color: rgba(@black, 0.7);
  width: 100%;
  height: 885px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding-top: 12rem;
  @media @notebook {
    padding-top: 8rem;
  }
  @media @tablet {
    padding-top: 1rem;
  }
}
.shedule__content {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  @media @tablet {
    flex-wrap: wrap;
  }
}
.shedule__card {
  width: 33%;
  height: 20rem;
  position: relative;
  z-index: 1;
  background-color: @white;
  padding: 0 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-transition: -webkit-box-shadow 0.4s linear,
    -webkit-transform 0.4s linear;
  -webkit-transition: box-shadow 0.4s linear, -webkit-transform 0.4s linear;
  transition: box-shadow 0.4s linear, -webkit-transform 0.4s linear;
  transition: box-shadow 0.4s linear, transform 0.4s linear;
  transition: box-shadow 0.4s linear, transform 0.4s linear,
    -webkit-transform 0.4s linear;
  transition: box-shadow 0.4s linear, transform 0.4s linear,
    -webkit-transform 0.4s linear;
  margin-left: 2rem;
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    cursor: pointer;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0px 0px 30px @white;
  }
  @media @tablet {
    width: 80%;
    height: 10rem;
    margin-left: 0;
    margin-bottom: 5rem;
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: -2rem;
    }
  }
  @media @mobile {
    width: 100%;
  }
}
.shedule__card--header {
  position: absolute;
  top: -10%;
  left: 40%;
  width: 6rem;
  height: 6rem;
  background-color: @white;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-shadow: 0px 0px 30px @gray-l;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  @media @tablet {
    top: -30%;
    left: 45%;
    width: 5rem;
    height: 5rem;
  }
  @media @mobile-sm {
    display: none;
  }
}
.shedulle__card--title {
  font-size: 1.8rem;
  font-family: @lobster;
  color: @red;
  line-height: 1.75;
  margin-bottom: 0.5rem;
}
.shedule__card--text {
  font-size: 1rem;
  font-family: @releway;
  color: @gray-l;
  line-height: 1.5;
}
