//main: ../style.less
.subscribe__section {
  margin-top: 10rem;
  @media @tablet{
    margin-top: 7rem;
  }
  @media @mobile{
    margin-top: 4rem;
  }
  @media @mobile-sm{
    margin-top: 2rem;
  }
}
.subscribe__img {
  width: 100%;
  height: 590px;
  background: url(../img/subscribe/subscribe_bg.png) no-repeat center;
  overflow: hidden;
  background-size: cover;
}
.subscribe__overlay {
  background-color: rgba(@black, 0.5);
  width: 100%;
  height: 100%;
}
.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 590px;
  @media @mobile{
    flex-wrap: wrap;
  }
}
.subscribe__colum {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-item-align: center;
  align-self: center;
  h3 {
    font-size: 2.3rem;
    font-family: @lobster;
    color: @white;
    line-height: 0.694;
  }
  img {
    margin-top: 2rem;
    width: 40%;
    margin-bottom: 4rem;
  }
  p {
    font-size: 1rem;
    font-family: @releway;
    color: @white;
    line-height: 2;
  }
  &--input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 230px;
    margin-left: 3rem;
    input {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-item-align: end;
      align-self: flex-end;
      height: 3.5rem;
      padding-left: 1rem;
      font-size: 1.2rem;
      font-family: @releway;
      color: @gray-l;
      border: none;
      &:focus {
        outline: none;
      }
    }
    span {
      -ms-flex-item-align: end;
      align-self: flex-end;
      height: 3.5rem;
      width: 5rem;
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#14bcdd),
        to(#4cffff)
      );
      background: linear-gradient(to right, #14bcdd, #4cffff);
      text-align: center;
      &:hover {
        cursor: pointer;
        background: -webkit-gradient(
          linear,
          right top,
          left top,
          from(#14bcdd),
          to(#4cffff)
        );
        background: linear-gradient(to left, #14bcdd, #4cffff);
        &:active {
          background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#14bcdd),
            to(#4cffff)
          );
          background: linear-gradient(to bottom, #14bcdd, #4cffff);
        }
      }
      i {
        font-size: 2rem;
        color: @white;
        line-height: 53px;
      }
    }
    @media @mobile{
      margin-left: 0;
      margin-top: -15rem;
    }
  }
  @media @mobile{
    flex-basis: 100%;
  }
}
