//main: ../style.less
.video__event {
  margin-top: 10rem;
  width: 100%;
  height: 850px;
  z-index: 2;
  margin-bottom: 30rem;
}
.video__content {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#eventVideo {
  position: absolute;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
